<a href="https://colab.research.google.com/github/SyedHasnat/Python-For-Everybody/blob/main/Chapter_8(Lists).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
lst=[' spam' , 2.0, 5]
print(lst)

[' spam', 2.0, 5]

In [4]:
cheeses = [' Cheddar' , ' Edam' , ' Gouda' ]
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)

[' Cheddar', ' Edam', ' Gouda'] [17, 123] []

**Lists are mutable**

In [6]:
umbers = [17, 123]
print(umbers)
numbers[1] = 5 #while in string it will give error
print(numbers)

[17, 123]
[17, 5]

In [7]:
17 in umbers #to check either 17 is in the list or not

True

**Traversing a list**

In [9]:
hasnat=['h', 'a', 's', 'n', 'a', 't']
for character in hasnat:
 print(hasnat)

['h', 'a', 's', 'n', 'a', 't']
['h', 'a', 's', 'n', 'a', 't']
['h', 'a', 's', 'n', 'a', 't']
['h', 'a', 's', 'n', 'a', 't']
['h', 'a', 's', 'n', 'a', 't']
['h', 'a', 's', 'n', 'a', 't']

**List operations**

In [13]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b #it will just combine both the lists
print(c)

[1, 2, 3, 4, 5, 6]

In [14]:
a = [1, 2, 3]
c=a*2
print(c)

[1, 2, 3, 1, 2, 3]

**List slices**

In [16]:
t = [' a' , ' b' , ' c' , ' d' , ' e' , ' f' ]
print(t[ : ])
print(t[1: ])
print(t[5:7])

[' a', ' b', ' c', ' d', ' e', ' f']
[' b', ' c', ' d', ' e', ' f']
[' f']

**List methods**

In [18]:
#append
t = [' a' , ' b' , ' c' ]
print(t)
t.append(' d' )
print(t)

[' a', ' b', ' c']
[' a', ' b', ' c', ' d']

In [19]:
#etend
t1 = [' a' , ' b' , ' c' ]
t2 = [' d' , ' e' ]
t1.extend(t2)
print(t1)

[' a', ' b', ' c', ' d', ' e']

In [21]:
#sort
t = [' d' , ' c' , ' e' , ' b' , ' a' ]
print(t)
t.sort()
print(t)

[' d', ' c', ' e', ' b', ' a']
[' a', ' b', ' c', ' d', ' e']

**Deleting elements**

In [23]:
#remove index wise
t = [' a' , ' b' , ' c' ]
x = t.pop(1) 
print(t)
print(x)

[' a', ' c']
 b

In [24]:
t = [' a' , ' b' , ' c' ]
del t[1]
print(t)

[' a', ' c']

In [25]:
t = [' a' , ' b' , ' c' ]
t.remove(' b' )
print(t)

[' a', ' c']

In [27]:
#remove from index a to index h
t = [' a' , ' b' , ' c' , ' d' , ' e' , ' f' ]
print(t)
del t[1: 5]
print(t)

[' a', ' b', ' c', ' d', ' e', ' f']
[' a', ' f']

**Lists and functions**

In [28]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

**average without list**

In [34]:
total = 0
count = 0
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1

average = total / count
print('Average:', average)

Enter a number: 2
Enter a number: 3
Enter a number: done
Average: 2.5

**average usi ng list**

In [35]:
numlist = list()
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 2
Enter a number: 3
Enter a number: done
Average: 2.5

** Lists and strings**

In [36]:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

In [37]:
#split
s = 'pining for the fjords'
t = s.split()
print(t)
print(t[2])

['pining', 'for', 'the', 'fjords']
the

In [39]:
#split at 
s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

['spam', 'spam', 'spam']

In [40]:
#join
t = [' pining' , ' for' , ' the' , ' fjords' ]
delimiter = ' '
delimiter.join(t)

' pining  for  the  fjords'