<a href="https://colab.research.google.com/github/SyedHasnat/Python-For-Everybody/blob/main/Chapter_4_(Functions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Functions** 
A block of organized and reusable code
* Function Call
*   Built-in functions
*   Type Conversion Functions
*   Random Numbers
*   Math Functions
*  Adding New Functions
*   Pass Arguments

**Function Call**

In [ ]:
type(232) #The name of the function is type. The expression in parentheses is called the argument of the function.

int

**Built-in functions,** we can use them without needing to provide the function definition

In [ ]:
max(1,3,4) #will return maximum  value

4

In [ ]:
min(1,3,4) #will return monimum value

1

In [ ]:
max('abcdef') # a=1, b=2, c=3.........z=26

'f'

In [ ]:
min('bcadef')

'a'

In [ ]:
len('UET Peshawar Kohat Campus') #22 are characters and 3 are space 222+3=25

25

**Type conversion functions** means to change an integer into float or srtring etc.

In [ ]:
a='22'
print(a)
print(type(a))

22
<class 'str'>

In [ ]:
print(int(a))
type(int(a)) #changing string to integer using function int() and type is used to check the nature after passing through int()

22

int

In [ ]:
b=float(a)
print(b)
print(type(b))

22.0
<class 'float'>

**Random numbers** The function random returns a random float between 0.0 and 1.0 (including 0.0 but not 1.0). Each time you call random, you get the next number in a long series.

In [ ]:
import random as rand 
for i in range(5): #means to generate 5 random numbers
 rand_numbers = rand.random()
 print(rand_numbers)

0.41199270545900823
0.7246709008395793
0.39056772937397854
0.2417097902802825
0.12359338627434258

In [ ]:
rand.randint(5, 10) #randomly pick a number from 5,6,7,8,9,10

10

**The random module offers a function that can generate random numbers from a specified range and also allowing rooms for steps to be included, called randrange().**

In [44]:
print(rand.randrange(1, 10, 3)) #select a number from 1 to 10, if the previous selected number is 7 next 3 digits will not be selected on the next executio

7

In [48]:
#to make clear the above comment execute this section
for i in range(5):
  print(rand.randrange(1, 10, 3)) #a number can be selected repeatedly

7
4
1
1
4

**To choose an element from a sequence at random, you can use choice:**

In [36]:
t = [1, 2, 3]
rand.choice(t)

1

In [37]:
choice=['b', 'b', 'c'] 
choice=random.choice(choice) # a random choice will be selected
if choice == 'a' :
 print('Bad guess' )
elif choice == 'b' :
 print('Good guess' )
elif choice == 'c' :
 print('Close, but not correct' )

Good guess

In [39]:
choice=['b', 'b', 'c'] 
choice=random.choice(choice)
if choice == 'a' :
 print('Bad guess' )
elif choice == 'b' :
 print('Good guess' )
elif choice == 'c' :
 print('Close, but not correct' )

Close, but not correct

**Shuffle()**

In [53]:
#Reference: GreekForGreeks
# declare a list
sample_list = ['A', 'B', 'C', 'D', 'E']
print("Original list : ")
print(sample_list)
# first shuffle
random.shuffle(sample_list)
print("\nAfter the first shuffle : ")
print(sample_list)
# second shuffle
random.shuffle(sample_list)
print("\nAfter the second shuffle : ")
print(sample_list)

Original list :
['A', 'B', 'C', 'D', 'E']

After the first shuffle :
['E', 'C', 'A', 'B', 'D']

After the second shuffle :
['B', 'A', 'D', 'C', 'E']

**Math Functions**
for more detail visit through [link text](https://docs.python.org/3/library/math.html)

In [65]:
import math as m
a=3
b=4
print(m.sqrt(a))
print(m.pi)
print(m.sin(0))#it will give answer in radian

1.7320508075688772
3.141592653589793
0.0

**Adding new Functions**

In [67]:
def favourite_lyrics():
  print('Oh please understand, my love, what I say')
  print('I am lonely, I am lost')
  print('And though I be a young man, my body does decay')
  print('Like a wooden craft on a sandy bay')
  print('Come, bring to me a basket filled unto the brim')
  print('With coloured shells, and set them down')
  print('That I may choose but one')
  print('I am lonely, I am lost')
favourite_lyrics()#function call

Oh please understand, my love, what I say
I am lonely, I am lost
And though I be a young man, my body does decay
Like a wooden craft on a sandy bay
Come, bring to me a basket filled unto the brim
With coloured shells, and set them down
That I may choose but one
I am lonely, I am lost

**To Pass Arguments**

In [74]:
def add(num1,num2):
  print('sum=', num1 + num2)
def product(num1,num2):
  print('product= ', num1*num2)
def string(str):
  print(str)
z=2
add(z,2)
product(4,6)
print("Syed Hasnat "*2)

sum= 4
product=  24
Syed Hasnat Syed Hasnat

In [78]:
def addtwo(a, b):
 added = a + b
 return added #da result ba hagha zai ki store shi da kom zai na chi pa kom variable dy call shwe dai
x = addtwo(100, 5)
print(x)

105

**EXERCISES**


*   **Write code for a calulator using function oriented approch. Find sine inverse of 2/4pi rad in degrees**