<a href="https://colab.research.google.com/github/SyedHasnat/Python-For-Everybody/blob/main/Chapter_6(Strings).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Strings**


*  A string is a sequence

*  Getting The Length Of a String Using Len

* Traversal Through a String With a Loop

* String Slices
*   Strings are Immutable


*  Looping and Counting


*   The in Operator

*   String Comparison

*   String Sethods

*  Parsing Strings
*   Fprmat Operator


*   List item

**A string is a sequence** sequence of characters. You can access the characters one at a time with the bracket operator![image.png]()

In [2]:
fruit = 'banana'
letter = fruit[1] #index starts from zero
print(letter)
letter = fruit[2]
print(letter)

a
n

**Getting the length of a string using len**

In [3]:
fruit = 'banana'
len(fruit)

6

**Traversal through a string with a loop**

In [8]:
index = 0 
while index < len(fruit): #as length equals to 6 and index starts from 0 thats whhy we aare taking index < 6, if put it like index<=5 it will give error
 letter = fruit[index]
 print(letter, end=', ')
 index = index + 1

b, a, n, a, n, a,

**we can do the above thriugh a loop**

In [7]:
for char in fruit:
 print(char, end=', ')

b, a, n, a, n, a,

**String slices** A segment of a string is called a slice. Selecting a slice is similar to selecting a
character:

In [16]:
s = 'Monty Python'
length = len(s)
print('length= ', length)
print(s[0: 5]) # in slicing you are defing the range like select charatcers from string from index 1 to index 5
print(s[6: 12])

length=  12
Monty
Python

In [21]:
fruit = 'banana'
print(fruit[ : 3]) # means index starting from zero
print(fruit[3: ]) # means upto index=len(fruit)
print(fruit[3: 3]) #will print nothing
print(fruit[3]) #will only print a letter which is at inddex 3

ban
ana

a

**Strings are immutable**

In [26]:
word = 'Bold'
word[3] = 't' #it will give error becuse you can't change or replace a letter in string (means srtring is immutable)

TypeError: ignored

In [39]:
word = 'Bold'
word = word[ :3] + 't' 
print(word)

Bolt

In [28]:
greeting = 'good person! '
new_greeting = 'He is a ' + greeting[0:]
print('Old greeting: ', greeting)
print('New greeting: ', new_greeting)
#focus on the output letter g is misssing in good

Old greeting:  good person!
New greeting:  He is agood person!

In [27]:
greeting = 'good person! '
temp = 'He is a '
new_greeting = temp + greeting
print('Old greeting: ', greeting)
print('New greeting: ', new_greeting)

Old greeting:  good person!
New greeting:  He is a good person!

In [ ]:
greeting = 'good person! '
length = len(greeting)
new_greeting = 'He is a' + greeting[1:]
print('Old greeting: ', greeting)
print('New greeting: ', new_greeting)

**Looping and counting**

In [44]:
word = 'banana'
# to count a in word banana
count = 0
for letter in word:
 if letter == 'a' :
   count = count + 1
print(count, ' times a is repeatd in ', word)

3  times a is repeatd in  banana

**Encapsulate this code in a function named count, and generalize it so that it
accepts the string and the letter as arguments.**

In [59]:
def counting(letter_passed):
 word = 'banana'
# to count a in word banana
 count = 0
 for letter in word:
  if letter == letter_passed :
    count = count + 1
 return count

In [60]:
counting('a')

3

In [63]:
def counting_modified(string_passed, letter_passed):
# to count a in word banana
 count = 0
 for letter in string_passed:
  if letter == letter_passed :
    count = count + 1
 return count

In [65]:
counting_modified('syed muhammad hasanat', 'a')

5

**The in operator** The word in is a boolean operator that takes two strings and returns True if the first appears as a substring in the second

In [66]:
'a' in 'banana'

True

In [68]:
'm' in 'banana'

False

**String comparison** The comparison operators work on strings. To see if two strings are equal

In [72]:
if word == 'banana' :
 print(' All right, banana. ' )

 All right, banana.

In [73]:
if word < 'banana' :
 print(' Your word, ' + word + ' , comes before banana. ' )
elif word > 'banana' :
 print(' Your word, ' + word + ' , comes after banana. ' )
else:
 print(' All right, bananas. ' )

 All right, bananas.

**String Methods**

In [74]:
stuff = 'Hello world'
type(stuff)

str

**To do different opperation on string lets check functions for stuff(str type)**

In [78]:
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**For taking help about a function in str**

In [80]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [76]:
print(stuff.upper())

HELLO WORLD

**to remove white space (spaces, tabs, or newlines) from the
beginning and end of a string using the strip method**

In [87]:
line = ' Here we go '
line.strip()

'Here we go'

**Parsing Strings**

In [94]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
#our aim is to extract uct.ac.za from data
index_of = data.find('@' ) #first find index of @ in string
space_index = data.find(' ' , index_of) #index of space after @
extracted_data = data[index_of + 1:space_index]
print(extracted_data)

uct.ac.za

In [100]:
#this approach can also be used
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
to_remove = len('From stephen.marquard@')
total_length = len(data)
extracted_data = data[to_remove:total_length]
print(extracted_data)

uct.ac.za Sat Jan 5 09:14:16 2008

**Format Operator** “%d” to format an integer, “%g” to format a floatingpoint number (don’t ask why), and “%s” to format a string

In [104]:
' In %d years I have spotted %g %s. ' % (3, 0.1, ' camels' )

' In 3 years I have spotted 0.1  camels. '